<h1> New Post </h1>

<%= form_with model: @post, url: admins_posts_path do |f| %>
  
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
   
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>

  <%= f.label :content, "Content:" %>
  <%= f.text_area :content %>

  <%= f.submit "Create" %>
<% end %>
