<%= render 'posts/post', post: @post %>

<div class="bg-light p-4 rounded mt-3">
  <h5> Comments: </h5>
  <div>
    <% @post.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
  <hr>
  <div>
    <%= form_with model: @post.comments.build, url: post_comments_path(@post) do |f| %>
      <% if defined?(@comment) && @comment.errors.any? %>
        <%= render 'shared/form_error', resource: @comment %>
      <% end %>

      <div class="mb-3">
        <%= f.label :email, "Email:", class: "form-label" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :text, "Comment:", class: "form-label" %>
        <%= f.text_area :text, class: "form-control" %>
      </div>

      <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', posts_path, class: "btn btn-default" %>
